@import url("tinderModals.css");

body {
  background-color : #424242;
}

.dashboard-rec-display {
  padding : 20px;
  min-height : 500px;
  border : 1px solid lightgrey;
  margin : 30px;
  background-color : white;
}

.rec-header {
  height : 50px;
  border-bottom : 1px solid lightgrey;
  margin-top : 0;
  margin-bottom : 20px;
}

.circle {
  border-radius : 100%;
}

#wrapper {
    margin : 0 0 0 220px;
    background-color : #ECECED;
}

ul.people {
    column-count:5;
    -webkit-column-count:5;
    -moz-column-count:5;
    list-style: none;
}

.pointer {
  cursor : pointer;
}

.body-app {
    width : 100%;
}

.auth-form {
  max-width : 500px;
  border: 1px solid lightgrey;
  padding : 30px;
  border-radius : 6px;
  margin : auto;
  background-color: white;
}

.auth-form > h2 {
  margin-top : -20px;
}

.btn.btn-tinder {
  background-color : #FC735D;
  color: white;
  font-size : 20px;
  min-height : 60px;
}

.auth-form > div.form-group > input {
  min-height : 60px;
  font-size : 20px;
}

.giant-starter-home {
  margin-top: -60px;
  width : 100%;
  min-height : 100vh;
  border-bottom : 1px solid lightgrey;
  padding : 40px;
  background-color : #FC735D;
}

.btn.btn-tinder-white {
  background-color : white;
  color : #FC735D;
  min-width: 120px;
  font-size: 20px;
}

.jumbo-header {
  display: block;
  margin-top: 100px;
  font-size : 100px;
  color: white;
  font-family: 'Squada One', cursive;
}

.ibox {
  border : 1px solid lightgrey;
  background-color : white;
  padding : 20px;
  margin : 0 0 10px 10px;
}

.ibox-header {
  border-bottom : 1px solid lightgrey;
  padding : 0 15px 15px 15px;
  margin : 0 0 10px 0;
}

.info- {
  margin-top : 10px;
}

.large-match-number {
  font-size : 50px;
  color : #FC735D;
}

.header {
  display : inline;
}
