body {
  padding-top: 30px;
  background-color : #ECECED;
}

ul.people {
    column-count:5;
    -webkit-column-count:5;
    -moz-column-count:5;
    list-style: none;
}

.pointer {
  cursor : pointer;
}

.body-app {
    width : 100%;
}

.auth-form {
  max-width : 500px;
  border: 1px solid lightgrey;
  padding : 30px;
  border-radius : 6px;
  margin : auto;
  background-color: white;
}

.auth-form > h2 {
  margin-top : -20px;
}

.btn.btn-tinder {
  background-color : #FC735D;
  color: white;
  font-size : 20px;
  min-height : 60px;
}

.auth-form > div.form-group > input {
  min-height : 60px;
  font-size : 20px;
}

.giant-starter-home {
  margin-top: -60px;
  width : 100%;
  min-height : 100vh;
  border-bottom : 1px solid lightgrey;
  padding : 40px;
  background-color : #FC735D;
}

.btn.btn-tinder-white {
  background-color : white;
  color : #FC735D;
  min-width: 120px;
  font-size: 20px;
}

.jumbo-header {
  display: block;
  margin-top: 100px;
  font-size : 100px;
  color: white;
  font-family: 'Squada One', cursive;
}
