/* BASIC NAV BAR */

.nav-bar-left {
  width : 210px;
  position : absolute;
  left : 0;
  top : 0;
}

.nav-bar-left {
  transition : all 0.5s ease;
}

ul > li.collapser {
  font-size : 40px;
}

.nav-bar-left.collapsed {
  width : 65px;
}

.nav-bar-left.collapsed > div > ul > li.expanded {
  display: none;
}

.nav-bar-left.collapsed > div > ul > li.collapsed {
  display: block;
  font-size : 30px;
}

.nav-bar-left > div > ul > li.collapsed {
  display: none;
}

.nav-bar-left > div > ul > li {
  font-size : large;
  color : white;
  width : 100%;
  padding : 15px;
  min-height : 50px;
}

.nav-bar-left > div > ul > li:hover {
  background-color : #6387A0;
  cursor: pointer;
  transition : all 0.5s ease;
}

.nav-bar-left > div > ul {
  list-style: none;
  margin-left : -35px;
}

.nav-bar-left > div.text-center > div.profile-image-div {
  height: 100px;
  width : 100px;
  margin : auto;
  margin : 30px auto 30px auto;

  /*border-radius : 100%;*/
  background-size : 100px;
}
.nav-bar-left > div.text-center > div.profile-image-div > span {
  color : #FC735D;
  font-size : 80px;
}
/* BOTTOM LIST */

.bottom {
  width : inherit;
  min-height : 100px;
  position : absolute;
  bottom : 0;
}

.topNav {
  width : 100%;
  height : 60px;
  background-color : #FC735D;
  padding : 15px;
}

.navbar-tinder {
  background-color : #FC735D;
  border-radius : 0;
}

a.nav-link {
  text-decoration: none;
  color: white;
}

.topNav > span {
  color : white;
  cursor : pointer;
  font-size : 25px;
}

.topNav > span.text > a {
  font-size : 25px;
  text-decoration: none;
  color : white;
  font-family : 'Squada One', cursive;
  margin-left : 30px;
}
.btn-bottom {

}

ul.top-nav {
  list-style: none;
}

ul.top-nav > li {
  display : inline;
}

.recommendation-container {
  height: 375px;
}
/* LOADING BAR */
.loading {
  font-size : 80px;
}
