<!-- INSERT TOKEN AREA -->
<div class="text-center col-lg-12" ng-if="!authenticated && init">
  <h2 class="text-primary">Please Enter Your AccessToken To Get Started</h2>

  <div class="form-group">
    <label>Access Token</label>
    <input class="form-control"
           ng-model="token"
           placeholder="Place Your Tinder Access Token Here...">
  </div>
  <button
    class="btn btn-lg btn-success"
    ng-click="start(token)">
    Start
  </button>
</div>
<div class="row">
<div class="col-lg-6">
  <h1><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h1>
  <div class="dashboard-rec-display">
    <div class="rec-header">
      <h3 style="display: inline">Potential Matches</h3>
      <span class="close">&times;</span>
    </div>

    <h1 class="text-center" ng-if="!recs"><span class="fa-spin glyphicon glyphicon-repeat"></span></h1>
    <div class="list-group">
      <li class="list-group-item" ng-repeat="match in recs">
        <div class="row">
        <div class="col-xs-4">
            <div class="user-photo">
            <img ng-src="{{match.photos[0].processedFiles[2].url}}">
          </div>
        </div>
        <div class="col-xs-5">
        <div class="user-bio">
          {{match.bio}}
        </div>
      </div>
      <div class="col-xs-3">
        <div class="accept-or-deny">
          <button
            class="btn btn-block btn-success"
            ng-click="likeOne(match._id)">
            Like
          </button>
          <button class="btn btn-block btn-danger">
            Pass
          </button>
        </div>
      </div>
      </div>
      </li>
    </div>
  </div>
</div>
<div class="col-lg-3">

</div>
</div>
