<div ng-if="loggedIn">
<div class="text-center">
  <h1>{{firstMessage}}</h1>
</div>
<div class="jumbotron text-center" ng-if="!authenticated">
  <h2 class="text-primary">Please Enter Your AccessToken To Get Started</h2>

  <div class="form-group">
    <label>Access Token</label>
    <input class="form-control"
           ng-model="token"
           placeholder="Place Your Tinder Access Token Here...">
  </div>
  <button
    class="btn btn-lg btn-success"
    ng-click="start(token)">
    Start
  </button>
</div>


<div class="text-center">
<ul class="people">
<li ng-repeat="user in recs">
<potential-match
  datasource="user">
</potential-match>
</li>
</ul>
</div>

<div ng-if="authenticated">
  <button class="btn btn-lg btn-primary" ng-click="getRecommendations()">
    Get Recommendations
  </button>

  <button ng-if="recs" class="btn btn-lg btn-success" ng-click="likeAll(recs)">
    Like All
  </button>

  <button class="btn btn-default btn-lg" ng-click="getHistory()">
    Get History
  </button>
</div>
</div>
